@import "pages/index";


.container {
  padding-left: 15px;
  padding-right: 15px;

}

.button {
  border: 1px solid black;
  padding: 5px 10px;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;

}

.button-primary {
  color: white;
  background-color: #322dff;
}